$font-heading: 'Big Shoulders Display', cursive;
$font-body: 'Outfit', sans-serif;
$color-black: #000;
$color-black-light: #151515;
$color-grey-dark: #444;
$color-gold: #d5966c;
$color-white: #fff;

// RESPONSIVE BREAKPOINTS:
$bp-1200: 75em;                             // max-width: 1200px
$bp-900: 56.25em;                           // max-width: 900px;