$font-heading: 'Big Shoulders Display', cursive;
$font-body: 'Outfit', sans-serif;
$color-black: #000;
$color-black-light: #151515;
$color-grey-dark: #444;
$color-gold: #d5966c;
$color-white: #fff;