.address {
  height: 55rem;
  width: 100%;
  background-color: $color-black-light;
  padding: 10.4rem 11.6% 12.8rem;
  display: flex;
  justify-content: space-between;

  &__heading {
    width: 35rem;
  }

  &__info {
    max-width: 54rem;
  }

  &__post {
    margin: 2.4rem 0 3.2rem;
  }
}