.footer {
  background-color: $color-black-light;
  padding: 5.62% 11.595%;
  display: flex;

  @include respond(md-screen) {
    padding: 7.45% 5.26%;
    justify-content: space-between;
  }

  @include respond(sm-screen) {
    padding: 4.8rem 8.53%;
    flex-direction: column;
    justify-content: start;
    gap: 3.8rem;
  }

  &__logo {
    width: 14.59%;
    min-width: 11rem;
    margin-right: 12.84%;

    @include respond(md-screen) {
      margin-right: 8.66%;
    }
  }

  &__logo-img {
    width: 100%;
  }

  &__info {
    width: 39.34%;
    min-width: 28rem;
    margin-right: 25.62%;

    @include respond(md-screen) {
      margin-right: 17.71%;
    }

    @include respond(sm-screen) {
      min-width: 25.6rem;
      width: 100%;
    }
  }

  &__links {
    min-width: 10rem;
    display: flex;
    justify-content: space-between;

    @include respond(sm-screen) {
      width: 10rem;
    }
  }

  &__link-img {
    cursor: pointer;
    transition: transform 0.3s;

    &:hover {
      transform: translateY(-2px) scale(1.15);
      filter: brightness(0) saturate(100%) invert(94%) sepia(16%) saturate(5685%) hue-rotate(311deg) brightness(95%) contrast(74%);
    }

    &--gold-bg {
      filter: brightness(0) saturate(100%) invert(6%) sepia(2%) saturate(93%) hue-rotate(314deg) brightness(106%) contrast(96%);
      transition: transform 0.3s;

      &:hover {
        transform: translateY(-2px) scale(1.15);
        filter: none;
      }
    }
  }
}
