.hero {
  height: 80rem;
  display: flex;

  @include respond(lg-screen) {
    height: 70rem;
  }

  @include respond(sm-screen) {
    height: 63rem;
    flex-direction: column;
  }

  &__black {
    flex: 5;
    background-color: $color-black-light;

    @include respond(lg-screen) {
      display: none;
    }
  }

  &__image {
    flex: 6;
    background: url("../../assets/desktop/image-hero.jpg"), lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    @media only screen and (min-resolution: 192dpi) {
      flex: 6;
      background: url("../../assets/desktop/image-hero@2x.jpg"), lightgray 50%;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
    }

    @include respond(lg-screen) {
      flex: 4;
      background-position: center;
    }

    @include respond2x(lg-screen) {
      flex: 4;
      background: url("../../assets/tablet/image-hero@2x.jpg"), lightgray 50%;
      background-position: center;
      background-size: cover;
    }

    @include respond(sm-screen) {
      flex: none;
      height: 24rem;
    }

    @include respond2x(sm-screen) {
      flex: none;
      height: 24rem;
      background: url("../../assets/mobile/image-hero@2x.jpg"), lightgray 50%;
      background-position: center;
      background-size: cover;
    }
  }

  &__text-container {
    position: absolute;
    top: 19rem;
    left: -52.78%;
    right: -52.78%;
    display: flex;
    justify-content: space-between;

    @include respond(lg-screen) {
      top: 14.5rem;
      left: 89%;
      right: auto;
      min-width: 34rem;
      flex-direction: column;
    }

    @include respond(sm-screen) {
      top: 27.2rem;
      left: 4.27%;
      right: 4.27%;
      min-width: 28.8rem;
    }
  }

  &__heading {
    width: 51.4rem;

    @include respond(lg-screen) {
      width: 100%;
      margin-bottom: 4.8rem;
    }

    @include respond(sm-screen) {
      margin-bottom: 3.2rem;
    }

    &-text {
      mix-blend-mode: difference;

      @include respond(lg-screen) {
        mix-blend-mode: normal;
      }
    }
  }

  &__cta {
    width: 35rem;
    display: flex;
    flex-direction: column;

    @include respond(sm-screen) {
      width: 100%;
      min-width: 29rem;
    }
  }

  &__text {
    width: 100%;
    margin-bottom: 6.4rem;

    @include respond(lg-screen) {
      margin-bottom: 4.8rem;
    }

    @include respond(sm-screen) {
      margin-bottom: 3.2rem;
    }
  }

  &__heading-text {
    color: $color-white;

    @include respond(lg-screen) {
      color: $color-black-light;
    }
  }

  &__white {
    flex: 5;
    background-color: $color-white;

    @include respond(lg-screen) {
      flex: 3;
    }

    @include respond(sm-screen) {
      flex: none;
      height: 39rem;
    }
  }
}
