.hero {
  height: 80rem;
  display: flex;

  &__black {
    flex: 5;
    background-color: $color-black-light;
  }

  &__image {
    flex: 6;
    background: url('../../assets/desktop/image-hero.jpg'), lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  &__text-container {
    position: absolute;
    top: 19rem;
    left: -52.78%;
    right: -52.78%;
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    width: 51.4rem;
  }

  &__cta {
    width: 35rem;
    display: flex;
    flex-direction: column;
  }

  &__text {
    width: 100%;
    margin-bottom: 6.4rem;
  }

  &__heading-text {
    color: $color-white;
  }

  &__white {
    flex: 5;
    background-color: $color-white;
  }
}