.location {
  position: relative;
  height: 68.5rem;
  width: 100%;

  @include respond(md-screen) {
    height: 60rem;
  }

  @include respond(sm-screen) {
    height: 57rem;
  }

  &__map {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    background: lightgray 0px 0px / 100% 100% no-repeat;
    height: 68.5rem;
    width: 100%;

    @include respond(md-screen) {
      height: 60rem;
    }

    @include respond(sm-screen) {
      height: 57rem;
    }
  }

  &__link {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 15.5rem;

    @include respond(md-screen) {
      left: 5.5rem;
    }

    @include respond(sm-screen) {
      left: 0;
    }
  }
}
