.u-text-white {
  color: $color-white;
}

.u-text-gold {
  color: $color-gold;
}

.u-bg-gold {
  background-color: $color-gold;
}

.u-gallery-text-width {
  width: 100%;
  max-width: 35rem;

  @include respond(md-screen) {
    max-width: 22.5rem;
  }

  @include respond(sm-screen) {
    max-width: none;
  }
}

.u-mb-32 {
  margin-bottom: 3.2rem;

  @include respond(sm-screen) {
    margin-bottom: 2.1rem;
  }
}